<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sentiment Sentinels</title>
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Sentiment Sentinels">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sentiment Sentinels - Know what people say about your brand">

    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- no site links in search box: -->
    <meta name="google" content="nositelinkssearchbox">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<header class="w-full px-4 lg:px-10 py-4 lg:py-8 flex space-x-2 justify-between items-center">
    <!-- svg, cuz they are responsive and have smaller file sizes -->
    <div class="w-[210px]">
        <img src="fonts/SSlogo.svg" alt="Sentiment Sentinels" width="150" height="30">
    </div>
    <nav>
        <!-- 3 lines for main menu -->
        <button id="mobile-menu-toggle" data-collapse-toggle="main-menu" type="button" class="inline-flex justify-center items-center text-gray-400 rounded-lg lg:hidden hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-primary" aria-controls="main-menu" aria-expanded="false">
            <span class="sr-only">Main Menu</span>
            <svg class="w-6 h-6" aria-hidden="true" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 21.2507H25" stroke="black" stroke-width="1.5"></path>
                <path d="M5 15H25" stroke="black" stroke-width="1.5"></path>
                <path d="M5 8.74927H25" stroke="black" stroke-width="1.5"></path>
            </svg>
        </button>

        <ul id="main-menu" class="hidden lg:flex">
            <li class="lg:hidden">
                <a href="login" class="text-primary">Login</a>
            </li>
            <li class="lg:hidden">
                <a href="/register">Register</a>
            </li> 
        </ul>
    </nav>
    
<!-- laptop browser -->
    <div class="space-x-2 items-center hidden lg:flex flex-none">
        <a href="login" class="secondary-button">Login</a>
        <a href="login" class="primary-button-sm">Sign up for free</a>
    </div>
</header>

<div class="content-section justify-center text-center pt-7">
    <div class="space-y-5">
        <h1 class="tracking-wide font-bold font-heading text-2xs uppercase flex items-center justify-center space-x-2">
            <span>Spending too much time figuring out what people think of your brand?<br>Don't worry, we have your back</span>
        </h1>
        <h2 class="content-heading cd-headline slide">
            <span class="cd-words-wrapper"><b class="is-visible">Know what people <br>say about your brand.</b><b>Analyze your<br>market.</b><b>Get all reviews  <br>at one place</b></span>
        </h2>
        <button class="primary-button" onclick="openCity(event, 'level')">Select your Platform</button>
    </div>

    <div class="tab">
        <button class="tablinks"; style="color: white;" onclick="openCity(event, 'level')">Platform Selection</button>
    </div>
    
    <form action="/loading" method="post" >
        <div id="level" class="tabcontent">
            <div class = "form-group">
                <label style="color: white;">Link</label>
                <input type="text" name="link" class="form-control" autocomplete="off">
            </div>
            <div class = "form-group">
                <button type = "submit" value="Youtube" name="site" class="btn btn-primary">Youtube</button>
                <button type = "submit" value="Threads" name="site" class="btn btn-primary">Threads</button>
                <button type = "submit" value="Yelp" name="site" class="btn btn-primary">Yelp</button>
            </div>
        </div>
    </form>
    <script>
        function openCity(evt, cityName) 
        {
            var i, tabcontent, tablinks;
        
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) 
            {
                tabcontent[i].style.display = "none";
            }
        
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) 
            {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
        
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</div>

<div class="content-section content-columns pb-20 pt-20 lg:pb-52 lg:pt-28">
    <div class="flex" data-sal-duration="500" data-sal="slide-up">
        <div class="flex flex-col space-y-7 max-w-md">
            <h2 class="content-heading">Never miss <br>a comment.</h2>
            <p class="content-paragraph">
                Sentiment Sentinels offers complete access to all your online mentions.
                <!-- from a variety of different sites Be it blogs or social media, you should know what is being said about you! -->
            </p>
            <ul class="content-list">
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/eye.svg" alt="Eye icon" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Multiple sources</h3>
                        <p>
                            Be it blogs or social media, you deserve know what is being said about you in real-time!
                        </p>
                    </div>
                </li>
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/zap.svg" alt="Zap icon" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Analyze sentiments</h3>
                        <p>
                            Use our advanced sentiment analysis to segment the commennts into positive negative and neutral,
                            so you don't have to do it yourself.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/bell.svg" alt="bells" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Get Notified</h3>
                        <p>We will let you know when someone mentions you through your email, but only if you want us to.</p>
                    </div>
                </li>
            </ul>
            <div class="md:pt-7">
                <a href="login" class="primary-button">Sign up for free</a>
            </div>
        </div>
    </div>
    <div class="w-full md:max-w-[50%] relative" data-sal-duration="500" data-sal="slide-left">
        <div class="w-full md:max-w-[50%] relative" data-sal-duration="500" data-sal="slide-left">
            <img src="fonts/SSvisualize.svg" alt="pic" class="w-full relative" loading="lazy" width="640" height="720">
        </div>
    </div>
</div>

<div class="content-section content-columns content-columns-reversed pb-20 lg:pb-52">
    <div class="w-full md:max-w-[50%]" data-sal-duration="500" data-sal="slide-right">
        <div class="w-full md:max-w-[50%] relative" data-sal-duration="500" data-sal="slide-left">
            <img src="fonts/SSvisualize.svg" alt="pic" class="w-full relative" loading="lazy" width="640" height="720">
        </div>
    </div>
    <div class="flex" data-sal-duration="500" data-sal="slide-up">
        <div class="flex flex-col space-y-7 max-w-md">
            <h2 class="content-heading">Get your data, Visualized.</h2>
            <p class="content-paragraph">
                Measure brand awareness and presence.
            </p>
            <ul class="content-list">
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/bars.svg" alt="bar graph" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Charts and graphs</h3>
                        <p>
                            Evaluate your target.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/ruler.svg" alt="Ruler" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Measure awareness</h3>
                        <p>
                            Identify the reach and importance of mentions.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/clipboard.svg" alt="Clipboard icon" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Create Reports</h3>
                        <p>No need to manually keep track of things, let us do that for you.</p>
                    </div>
                </li>
            </ul>
            <div class="md:pt-7">
                <a href="login" class="primary-button">Sign up free</a>
            </div>
        </div>
    </div>
</div>

<div class="content-section content-columns pb-20 lg:pb-52">
    <div class="flex" data-sal-duration="500" data-sal="slide-up">
        <div class="flex flex-col space-y-7 max-w-md">
            <h2 class="content-heading">But Why<br>Sentiment Sentinels</h2>
            <p class="content-paragraph">
                "I have heard of sentiment analysis, but why should i use your site?"
                <br>Still confused? Let me show you why each feature is so useful
            </p>
            <ul class="content-list">
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/arrow.svg" alt="point 1" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Save time</h3>
                        <p>Time is money. Let the machines do the hard work of collecting comments from a wide variety of sources.</p>
                    </div>
                </li>
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/arrow.svg" alt="point 2" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Get comments segmented into positive, negative and neutral</h3>
                        <p>Can't keep up with the new slangs? Let us help you divide the comments, so you can focus on what is important</p>
                    </div>
                </li>
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/arrow.svg" alt="point 3" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Visualize Data</h3>
                        <p>Use our analysis tools to measure and compare your reach on different platforms. s</p>
                    </div>
                </li>
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/arrow.svg" alt="point 4" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>"But I can't stay on this website all the time to see new comments"</h3>
                        <p>We understand, which is why we can send you a notification whenever you have a new comment.<br>This will help you keep up with your target audience</p>
                    </div>
                </li>
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/arrow.svg" alt="point 5" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Generate Reports and share them</h3>
                        <p>Work smart not hard. We will keep track of all your me tions and comments, so you don't have to.<br>We can then generate a downloadable report for you and your company.</p>
                    </div>
                </li>
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/arrow.svg" alt="point 6" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>Easy to use</h3>
                        <p>This site can be used by anyone, and no business or coding backgroung is required.</p>
                    </div>
                </li>
                <li>
                    <div class="content-list-icon">
                        <img src="fonts/arrow.svg" alt="point 7" loading="lazy">
                    </div>
                    <div class="content-list-text">
                        <h3>All in one</h3>
                        <p>With so many exciting features, this is your one stop destination to measure and analyse your brand</p>
                    </div>
                </li>
            </ul>
            <div class="md:pt-7">
                <a href="login" class="primary-button">Sign up free</a>
            </div>
        </div>
    </div>
    <div class="w-full md:max-w-[50%] relative" data-sal-duration="500" data-sal="slide-left">
        <img src="fonts/SSrightToleft.svg" alt="Dots" width="124" height="124" loading="lazy" class="absolute bottom-44 -left-14 scale-[0.6] lg:scale-100">
        <img src="fonts/SSvisualize.svg" alt="pic" class="w-full relative" loading="lazy" width="640" height="720">
    </div>
</div>

<div class="bg-dark w-full mb-20 md:mb-28 py-16 lg:py-28">
    <div class="flex flex-col space-y-12 content-section text-center items-center">
        <h2 class="content-heading text-white !text-2xl md:!text-3xl-condensed" data-sal-duration="500" data-sal="slide-up">
            Monitor the entire internet at once
        </h2>
        <div class="max-w-2xl grid gap-14 grid-cols-3 grid-rows-5 sm:grid-cols-5 sm:grid-rows-3 items-end px-4" data-sal-duration="500" data-sal="zoom-in">
            <div class="source">
                <img src="fonts/twitter.svg" alt="Twitter" loading="lazy" width="24" height="19">
                <p>Twitter</p>
            </div>
            <div class="source">
                <img src="fonts/fb.svg" alt="Facebook" loading="lazy" width="24" height="24">
                <p>Facebook</p>
            </div>
            <div class="source">
                <img src="fonts/insta.svg" alt="Instagram" loading="lazy" width="24" height="23">
                <p>Instagram</p>
            </div>
            <div class="source">
                <img src="fonts/youtube.svg" alt="Youtube" loading="lazy" width="24" height="24">
                <p>Youtube</p>
            </div>
            <div class="source">
                <img src="fonts/spotify.svg" alt="Spotify" loading="lazy" width="24" height="23">
                <p>Spotify</p>
            </div>
            <div class="source">
                <img src="fonts/newspaper.svg" alt="News" loading="lazy" width="24" height="23">
                <p>News</p>
            </div>
            <div class="source">
                <img src="fonts/linkedin.svg" alt="Linkedin" loading="lazy" width="24" height="23">
                <p>Linkedin</p>
            </div>
            <div class="source">
                <img src="fonts/bicon.svg" alt="Blogs" loading="lazy" width="24" height="26">
                <p>Blogs</p>
            </div>
            <div class="source">
                <img src="fonts/forums.svg" alt="Forums" loading="lazy" width="24" height="23">
                <p>Forums</p>
            </div>
            <div class="source">
                <img src="fonts/reviews.svg" alt="Reviews" loading="lazy" width="24" height="23">
                <p>Reviews</p>
            </div>
            <div class="source">
                <img src="fonts/reddit.svg" alt="Reddit" loading="lazy" width="24" height="23">
                <p>Reddit</p>
            </div>
            <div class="source">
                <img src="fonts/telegram.svg" alt="Telegram" loading="lazy" width="24" height="23">
                <p>Telegram</p>
            </div>
            <div class="source">
                <img src="fonts/tripadvisor.svg" alt="TripAdvisor" loading="lazy" width="24" height="22">
                <p>TripAdvisor</p>
            </div>
            <div class="source">
                <img src="fonts/appstore.svg" alt="AppStore" loading="lazy" width="24" height="23">
                <p>AppStore</p>
            </div>
            <div class="source">
                <img src="fonts/tiktok.svg" alt="TikTok" loading="lazy" width="24" height="27">
                <p>TikTok</p>
            </div>
        </div>
        <div class="text-lighter text-xs-relaxed font-medium">
            &amp; many more
        </div>
    </div>
</div>

<div class="bg-lightest py-8 md:py-28 mb-20 lg:mb-28 w-full">
    <div class="flex flex-col space-y-7 content-section text-center items-center">
        <h3 class="tracking-wide font-bold font-heading text-2xs" data-sal-duration="500" data-sal="slide-up">
            Sounds Complicated?
        </h3>
        <div class="flex flex-col space-y-5">
            <h2 class="content-heading" data-sal-duration="500" data-sal="slide-up">
                Here is a demo video
            </h2>
            <p class="content-paragraph" data-sal-duration="500" data-sal="slide-up">
                /*Demo video here*/
            </p>
            <div class="relative" id="video" data-sal-duration="500" data-sal="zoom-in">
                <img src="images/videopic.png" alt="Video guide" loading="lazy" class="w-full mx-auto max-w-5xl" width="1024" height="575">
                <button type="button" id="play">
                    <!-- <img class="w-11 h-11 md:w-28 md:h-28" src="fonts/play.svg" alt="Play" loading="lazy"> -->
                </button>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark pt-16 lg:pt-16">
    <div class="content-section" data-sal-duration="500" data-sal="slide-up">
        <div class="flex flex-col md:flex-row space-y-7 md:space-y-0 md:space-x-4 md:items-start pb-5 lg:pb-5">
            <div class="w-full text-white">
                <h4>Contact</h4>
                <img src="fonts/SSlogo.svg" alt="Sentiment Sentinels Logo" loading="lazy" class="w-20 mb-3 text-white" width="70" height="15">
                <a href="mailto:emailid.com" class="text-sm text-white underline">Help</a>
                <p class="text-sm text-footer-dark pt-9">
                    Sentiment Sentinels <br>
                    Mumbai <br>
                    India<br>
                </p>
            </div>
            <div class="w-full text-white">
                <h4>Product</h4>
                <ul id="menu-footer-menu-left" class="lists">
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Updates</a></li>
                    <li>
                        <a href="#">
                            Partner Program
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="">
                            Mobile App
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-full text-white">
                <h4>Clients</h4>
            </div>
            <div class="w-full text-white">
                <h4>Resources</h4>
            </div>
        </div>
    </div>
</footer>

<!-- <script defer="" src="js/scripts.min.js"></script> -->

<script>
    !function e(t,n,r){function o(a,s){if(!n[a]){if(!t[a]){var l="function"==typeof require&&require;if(!s&&l)return l(a,!0);if(i)return i(a,!0);throw(s=new Error("Cannot find module '"+a+"'")).code="MODULE_NOT_FOUND",s}l=n[a]={exports:{}},t[a][0].call(l.exports,(function(e){return o(t[a][1][e]||e)}),l,l.exports,e,t,n,r)}return n[a].exports}for(var i="function"==typeof require&&require,a=0;a<r.length;a++)o(r[a]);return o}({1:[function(e,t,n){var r;r=function(){return(()=>{"use strict";var e={d:(t,n)=>{for(var r in n)e.o(n,r)&&!e.o(t,r)&&Object.defineProperty(t,r,{enumerable:!0,get:n[r]})},o:(e,t)=>Object.prototype.hasOwnProperty.call(e,t)},t={};function n(e,t){var n,r=Object.keys(e);return Object.getOwnPropertySymbols&&(n=Object.getOwnPropertySymbols(e),t&&(n=n.filter((function(t){return Object.getOwnPropertyDescriptor(e,t).enumerable}))),r.push.apply(r,n)),r}function r(e){for(var t=1;t<arguments.length;t++){var r=null!=arguments[t]?arguments[t]:{};t%2?n(Object(r),!0).forEach((function(t){var n,o;n=e,o=r[t],t in n?Object.defineProperty(n,t,{value:o,enumerable:!0,configurable:!0,writable:!0}):n[t]=o})):Object.getOwnPropertyDescriptors?Object.defineProperties(e,Object.getOwnPropertyDescriptors(r)):n(Object(r)).forEach((function(t){Object.defineProperty(e,t,Object.getOwnPropertyDescriptor(r,t))}))}return e}function o(e,t){e=new CustomEvent(e,{bubbles:!0,detail:t}),t.target.dispatchEvent(e)}function i(){m(),b()}function a(){var e=0<arguments.length&&void 0!==arguments[0]?arguments[0]:{};b(),Array.from(document.querySelectorAll(l.selector)).forEach(f),d(e),y()}function s(){var e=v();c.push(e)}e.d(t,{default:()=>h});var l={root:null,rootMargin:"0% 50%",threshold:.5,animateClassName:"sal-animate",disabledClassName:"sal-disabled",enterEventName:"sal:in",exitEventName:"sal:out",selector:"[data-sal]",once:!0,disabled:!1},c=[],u=null,d=function(e){e&&e!==l&&(l=r(r({},l),e))},f=function(e){e.classList.remove(l.animateClassName)},m=function(){document.body.classList.add(l.disabledClassName)},b=function(){u.disconnect(),u=null},p=function(e,t){e.forEach((function(e){var n=e.target,r=void 0!==n.dataset.salRepeat,i=void 0!==n.dataset.salOnce;r=r||!(i||l.once);e.intersectionRatio>=l.threshold?((i=e).target.classList.add(l.animateClassName),o(l.enterEventName,i),r||t.unobserve(n)):r&&(f((i=e).target),o(l.exitEventName,i))}))},v=function(){var e=[].filter.call(document.querySelectorAll(l.selector),(function(e){return l.animateClassName,!e.classList.contains(l.animateClassName)}));return e.forEach((function(e){return u.observe(e)})),e},y=function(){document.body.classList.remove(l.disabledClassName),u=new IntersectionObserver(p,{root:l.root,rootMargin:l.rootMargin,threshold:l.threshold}),c=v()};const h=function(){if(d(0<arguments.length&&void 0!==arguments[0]?arguments[0]:l),"undefined"==typeof window)return console.warn("Sal was not initialised! Probably it is used in SSR."),{elements:c,disable:i,enable:y,reset:a,update:s};if(window.IntersectionObserver)return(l.disabled||"function"==typeof l.disabled&&l.disabled()?m:y)(),{elements:c,disable:i,enable:y,reset:a,update:s};throw m(),Error("Your browser does not support IntersectionObserver!\nGet a polyfill from here:\nhttps://github.com/w3c/IntersectionObserver/tree/master/polyfill")};return t.default})()},"object"==typeof n&&"object"==typeof t?t.exports=r():"function"==typeof define&&define.amd?define([],r):"object"==typeof n?n.sal=r():this.sal=r()},{}],2:[function(e,t,n){"use strict";function r(e){var t,n,o=e.nextElementSibling||e.parentElement.firstChild;t=o,null!=(n=e.classList)&&n.remove("is-visible"),null!=(n=e.classList)&&n.add("is-hidden"),null!=(e=t.classList)&&e.remove("is-hidden"),null!=(n=t.classList)&&n.add("is-visible"),setTimeout((function(){r(o)}),5e3)}var o=(0,((e=e("sal.js"))&&e.__esModule?e:{default:e}).default)({disabled:!0,threshold:.2}),i=document.getElementById("main-menu");document.getElementById("play").addEventListener("click",(function(e){e.preventDefault(),document.getElementById("video").innerHTML='<div class="flex items-center justify-center">\n  <iframe\n    width="100%"\n    height="558"\n    src="https://www.youtube.com/embed/IuT7oM23Hcw?autoplay=1"\n    title="YouTube video player"\n    frameborder="0"\n    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"\n    allowfullscreen\n  ></iframe>\n</div>'})),document.getElementById("mobile-menu-toggle").addEventListener("click",(function(){i.classList.toggle("hidden")})),document.querySelectorAll("#main-menu > li").forEach((function(e){e.addEventListener("mouseover",(function(e){e.target.closest("li").classList.add("active")})),e.addEventListener("mouseleave",(function(e){null!=(e=e.target.closest("li").classList)&&e.remove("active")}))})),document.querySelectorAll(".cd-headline").forEach((function(e){setTimeout((function(){r(e.querySelector(".is-visible"))}),5e3)})),document.querySelectorAll(".socials a").forEach((function(e){e.addEventListener("click",(function(e){null!=(e=window.open(e.target.closest("a").dataset.href,"_blank"))&&e.focus()}))})),document.addEventListener("DOMContentLoaded",(function(){o.enable(),e={action:"set_cookies",referer:document.referrer,lp:window.location.href},(n=new XMLHttpRequest).open("POST","https://brand24.com/wp-admin/admin-ajax.php",!0),n.setRequestHeader("Content-type","application/x-www-form-urlencoded"),n.send(Object.keys(e).map((function(t){return"".concat(t,"=").concat(encodeURIComponent(e[t]))})).join("&"));var e,t,n=[].slice.call(document.querySelectorAll("video.lazy"));"IntersectionObserver"in window&&(t=new IntersectionObserver((function(e){e.forEach((function(e){if(e.isIntersecting){for(var n in e.target.children)"string"==typeof(n=e.target.children[n]).tagName&&"SOURCE"===n.tagName&&(n.src=n.dataset.src);e.target.load(),e.target.classList.remove("lazy"),t.unobserve(e.target)}}))})),n.forEach((function(e){t.observe(e)})))}))},{"sal.js":1}]},{},[2]);
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>

</body>
</html>